@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
:root{
    --cor0: #e9e3e3;
    --cor1: #33c4d4;
    --cor2: #0b639b;
    --cor3: #091399;
    --cor4: #0F1011;

    --font-titulo: 'Josefin Sans', sans-serif;
    --font-texto: 'Source Code Pro', monospace;
}
*{
    margin: 0;
    padding: 0;
} 

/*HEADER*/
header nav a{
    color: var(--cor0);
    text-decoration: none;
    transition: 0.5s;
}

header nav ul a:hover{
    opacity: 0.3;
}

.portfolio{
    font-size: 24px;
    font-weight: bolder;
    font-family: var(--font-texto);
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-titulo);
    background-color: var(--cor3);
    height: 8vh;
}   

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: var(--cor0);
    margin: 8px;
}

nav.mobile-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-texto);
    background-color: var(--cor3);
    height: 8vh;
}

@media (min-width: 1000px) {
    .mobile-menu {
      display: none;
    }
    .header-container{
        background-image: url(img/backgroung.png);
        background-image: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0 112px;
        position: relative;
    }
  }
  

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--cor4);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.header-container{
    height: 100vh;
    background-color: var(--cor4);
    color: var(--cor3);
    font-family: var(--font-texto);
}

.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media  a{
    text-decoration: none;
    color: var(--cor3);
    padding: 1rem 4rem;
    border: 1px solid var(--cor3);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.redes-socias a img{
    width: 32px;
    height: 32px;
    text-decoration: none;
    transition: .5s ease-in-out;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 15px;
}

a:hover{
    background-color: var(--cor3);
    color: var(--cor0);
    
}
 